@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
canvas {
    /* border: 1px solid black; */
    display: block;
    margin: 10px auto 10px auto;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: none;
}

button {
    background: #1976D2;
    border: none;
    color: white;
    padding: 10px;
    font-size: 18pt;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    font: 'Roboto', sans-serif;
    display: block;
    margin: auto;
    width: 300px;
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
    background: #2380D6;
}

palette-picker {
    padding-left: 64px;
    display: block;
    position: absolute;
}

color-picker {
    position: absolute;
    display: block;
}